{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-4">Главная</h1>
<div class="row">
  {% for book in books %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        {% if book.cover %}
          <img src="{{ book.cover.url }}" class="card-img-top" alt="{{ book.title }}">
        {% else %}
          <img src="https://via.placeholder.com/300x200?text=No+Cover" class="card-img-top" alt="{{ book.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <a href="{% url 'book_details' book.id %}" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
