{% extends 'base.html' %}

{% block content %}
<h1>{{ book.title }}</h1>
<p>{{ book.content }}</p>
<p>Автор: {{ book.author.name }}</p>
<p>Жанр: {{ book.genre.title }}</p>
<p>Дата публикации: {{ book.publication_date }}</p>

<a href="{% url 'bookmark' book.id %}">
  {% if book in user.bookmarks.all %}
    Удалить из закладок
  {% else %}
    Добавить в закладки
  {% endif %}
</a>

<h2>Оценки</h2>
<ul>
  {% for rating in book.ratings.all %}
    <li>{{ rating.user.username }} - {{ rating.rating }}</li>
  {% endfor %}
</ul>

<h2>Отзывы</h2>
<ul>
  {% for review in book.reviews.all %}
    <li>{{ review.user.username }} - {{ review.text }}</li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
  <form action="{% url 'add_rating' book.id %}" method="post">
    {% csrf_token %}
    {{ rating_form.as_p }}
    <button type="submit">Добавить оценку</button>
  </form>
  <form action="{% url 'add_review' book.id %}" method="post">
    {% csrf_token %}
    <textarea name="text" rows="4" cols="50" required></textarea>
    <button type="submit">Добавить отзыв</button>
  </form>
{% endif %}
{% endblock %}
